doctype html
html
  head
    title= title
    
  body
    block content
    .nav
      a(href="") Главная 

      .mainHead
      
      a(href="/content") Контент

      .contentHead

      a(href="/contact") Контакты

      .contactHead

      a(href="/users/1") А где?

      .locationHead